<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.om.mapper.OrderLinesMapper">
    <resultMap id="BaseResultMap" type="com.hand.om.dto.OrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL" />
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR" />
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR" />
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR" />
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR" />
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR" />
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR" />
        <!--<result column="INVENTORY_ITEM_CODE" property="inventoryItemCode" jdbcType="VARCHAR"/>
        <result column="INVENTORY_ITEM_DESCRIPTION" property="inventoryItemDescription" jdbcType="VARCHAR"/>-->    </resultMap>

    <sql id="Base_Column_List">
        LINE_ID,HEADER_ID,LINE_NUMBER,INVENTORY_ITEM_ID,ORDERD_QUANTITY,ORDER_QUANTITY_UOM,UNIT_SELLING_PRICE,DESCRIPTION,COMPANY_ID,ADDITION1,ADDITION2,ADDITION3,ADDITION4,ADDITION5,
    </sql>

    <select id="selectMaxLineNumber" parameterType="Long" resultType="Long">
        SELECT MAX(LINE_NUMBER) FROM hap_om_order_lines WHERE HEADER_ID=#{headerId}
    </select>

    <delete id="deleteByHeaderId" parameterType="Long">
        DELETE FROM hap_om_order_lines WHERE HEADER_ID=#{headerId}
    </delete>
</mapper>