<#include "../include/header.html">
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid",{
        model: {
            headerId: 0
        },
        ORDER_STATUS_NEW: 'NEW',
        ORDER_STATUS_SUBMITED: 'SUBMITED',
        ORDER_STATUS_APPROVED: 'APPROVED',
        ORDER_STATUS_REJECTED: 'REJECTED',
        isEnabled: true,
        create:function () {
            if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
                return false;
            }

            if (viewModel.model.headerId === 0) {
                kendo.ui.showErrorDialog({
                    message: '<@spring.message "OrderLine.needHeader" />'
                });
            } else {
                $('#grid').data('kendoGrid').addRow();
            }
        },
        save:function () {
            if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
                return false;
            }

            if(viewModel.model.headerId === 0){
                kendo.ui.showErrorDialog({
                    message: '<@spring.message "OrderLine.needHeader" />'
                });
            } else{
                var data = dataSource.data();
                //只有新增或修改后才能保存
                for(var idx = 0; idx < data.length; idx++) {
                    if (data[idx].isNew() || data[idx].dirty) {
                        grid.saveChanges();
                        break;
                    }
                }
            }
        },
        remove: function () {
            Hap.deleteGridSelection({
                grid: $('#grid')
            });
        },
        saveHeader:function (orderStatus) {
            if(orderStatus === viewModel.model.ORDER_STATUS_SUBMITED || orderStatus === viewModel.model.ORDER_STATUS_APPROVED){
                return false;
            }
            if(validator.validate()){
                //设置操作状态
                if (viewModel.model.headerId && viewModel.model.headerId > 0) {
                    viewModel.model['__status'] = "update";
                } else {
                    viewModel.model['__status'] = "add";
                }

                if(orderStatus && orderStatus === viewModel.ORDER_STATUS_SUBMITED){
                    viewModel.model.set('orderStatus', orderStatus);
                }
                Hap.submitForm({
                    url:"${base.contextPath}/hap/om/order/headers/submit",
                    formModel: viewModel.model,
                    success:function (results) {
                        if(results.success){
                            viewModel.set('model', results.rows[0]);
                            kendo.ui.showInfoDialog({
                                type: 'success',
                                message: $l('hap.tip.success')
                            });

                            viewModel.setStatus();
                        }else {
                            kendo.ui.showInfoDialog({
                                type: 'error',
                                message: $l('hap.error')
                            });
                        }
                    }
                });
            }
        },
        submitOrder: function (){
            if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
                return false;
            }

            kendo.ui.showConfirmDialog({
                title: '<@spring.message "hap.tip.info"/>',
                message: '<@spring.message "headerline.confirmSubmit"/>'
            }).done(function (e) {
                if(e.button === "OK"){
                    // 保存和提交可以看做是一个操作
                    viewModel.saveHeader(viewModel.ORDER_STATUS_SUBMITED);
                }
            });
        },
        approval: function () {
            if(viewModel.model.orderStatus !== viewModel.ORDER_STATUS_SUBMITED){
                return false;
            }

            kendo.ui.showConfirmDialog({
                title: '<@spring.message "hap.tip.info"/>',
                message: '<@spring.message "headerline.confirmApproval"/>'
            }).done(function (e) {
                if(e.button === "OK"){
                    Hap.request({
                        url: "${base.contextPath}/hap/om/order/headers/status/approval",
                        data: kendo.stringify({'headerId': viewModel.model.headerId}),
                        success: function (results) {
                            if (results.success) {
                                viewModel.model.set('orderStatus', viewModel.ORDER_STATUS_APPROVED);
                                kendo.ui.showInfoDialog({
                                    type: 'success',
                                    message: $l('hap.tip.success')
                                });
                                viewModel.setStatus();
                            } else {
                                kendo.ui.showInfoDialog({
                                    type: 'error',
                                    message: $l('hap.error')
                                });
                            }
                        }
                    });
                }
            });
        },
        reject: function () {
            if(viewModel.model.orderStatus !== viewModel.ORDER_STATUS_SUBMITED){
                return false;
            }

            kendo.ui.showConfirmDialog({
                title: '<@spring.message "hap.tip.info"/>',
                message: '<@spring.message "headerline.confirmReject"/>'
            }).done(function (e) {
                if(e.button === "OK"){
                    Hap.request({
                        url: "${base.contextPath}/hap/om/order/headers/status/reject",
                        data: kendo.stringify({'headerId': viewModel.model.headerId}),
                        success: function (results) {
                            if (results.success) {
                                viewModel.model.set('orderStatus', viewModel.ORDER_STATUS_REJECTED);
                                kendo.ui.showInfoDialog({
                                    type: 'success',
                                    message: $l('hap.tip.success')
                                });
                                viewModel.setStatus();
                            } else {
                                kendo.ui.showInfoDialog({
                                    type: 'error',
                                    message: $l('hap.error')
                                });
                            }
                        }
                    });
                }
            });
        },
        deleteAll: function () {
            if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
                return false;
            }

            kendo.ui.showConfirmDialog({
                title: '<@spring.message "hap.tip.info"/>',
                message: '<@spring.message "headerline.confirmDelete"/>'
            }).done(function (e) {
                if(e.button === "OK"){
                    Hap.request({
                        url: "${base.contextPath}/hap/om/order/headers/remove",
                        data: kendo.stringify({'headerId': viewModel.model.headerId}),
                        success: function (results) {
                            if (results.success) {
                                kendo.ui.showInfoDialog({
                                    type: 'success',
                                    message: $l('hap.tip.success')
                                });
                                //关闭当前页
                                parent.closeTab(viewModel.model.headerId, true);
                            } else {
                                kendo.ui.showInfoDialog({
                                    type: 'error',
                                    message: $l('hap.error')
                                });
                            }
                        }
                    });
                }
            });
        },
        print: function () {
            //使用一个数据源读取所有订单行数据
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: BaseUrl + "/hap/om/order/lines/query/all",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (options, type) {
                        return {
                            "headerId": viewModel.model.headerId
                        }
                    }
                },
                batch: true,
                schema: {
                    data: 'rows',
                    total: 'total'
                }
            });

            dataSource.fetch().then(function () {

                var template = kendo.template($("#page-template").html());

                var result = template(dataSource.data());
                $("#main-data").html(result);

                kendo.drawing.drawDOM($("#print-page"))
                    .then(function(group) {

                        group.options.set("pdf", {
                            paperSize: "A3",
                            creator: 'menxiao.wu@hand-china.com',
                            title: 'Header Order',
                            date: new Date(),
                            margin: {
                                left   : "10mm",
                                top    : "10mm",
                                right  : "10mm",
                                bottom : "10mm"
                            }
                        });

                        kendo.drawing.pdf.saveAs(group, "Order Detail.pdf")
                    });
            });

//                var draw = kendo.drawing;
//                var geom = kendo.geometry;
//
//                var group = new draw.Group();
//
//                group.options.set("pdf", {
//                    paperSize: "A4",
//                    creator: 'jiangzhou.bo@hand-china.com',
//                    title: 'Header Order',
//                    date: new Date(),
//                    margin: {
//                        left   : "10mm",
//                        top    : "10mm",
//                        right  : "10mm",
//                        bottom : "10mm"
//                    }
//                });
//
//                var title = new draw.Text("·PDFPrint", [0, 0]);
//                title.options.set('fill', {color: 'red'});
//                title.options.set('font', "bold 30px Arial '微软雅黑");
//
//                group.append(title);
//
//
//
//
//                var grid = $("#grid").data("kendoGrid");
//                var progress = $.Deferred();
//
//                kendo.drawing.drawDOM($("#query-form"))
//                    .done(function(header) {
//                        group.children.push(header);
//
//                        draw.exportPDF(group).done(function(data) {
//                            kendo.saveAs({
//                                dataURI: data,
//                                fileName: "frame.pdf"
//                            });
//                        });
//                    });


//                var draw = kendo.drawing;
//                var geom = kendo.geometry;
//
//                var group = new draw.Group();
//
//                group.options.set("pdf", {
//                    paperSize: "A4",
//                    creator: 'jiangzhou.bo@hand-china.com',
//                    title: 'Header Order',
//                    date: new Date(),
//                    margin: {
//                        left   : "10mm",
//                        top    : "10mm",
//                        right  : "10mm",
//                        bottom : "10mm"
//                    }
//                });
//
//                var title = new draw.Text("·PDFPrint", [0, 0]);
//                title.options.set('fill', {color: 'red'});
//                title.options.set('font', "bold 30px Arial '微软雅黑");
//
//                group.append(title);
//
//
//                var form = kendo.drawing.drawDOM($("#query-form")).done(function (form) {
//
//                    group.append(form);
//                    draw.exportPDF(group, { paperSize: "A4", landscape: true }).done(function(data) {
//                        kendo.saveAs({
//                            dataURI: data,
//                            fileName: "frame.pdf"
//                        });
//                    });
//
//                });


//                var grid = $("#grid").data("kendoGrid");
//
//                var draw = kendo.drawing;
//                var geom = kendo.geometry;
//
//                var path = new draw.Path({
//                    stroke: {
//                        color: "#9999b6",
//                        width: 2
//                    }
//                });
//
//
//
//                kendo.drawing.drawDOM($("#form-content"))
//                    .done(function(header) {
//
//                        grid._drawPDF(progress)
//                            .then(function(root) {
//                                root.children.unshift(header);
//                                return kendo.drawing.exportPDF(root, { multiPage: true });
//                            })
//                            .done(function(dataURI) {
//                                kendo.saveAs({
//                                    dataURI: dataURI,
//                                    fileName: "test.pdf"
//                                });
//                                progress.resolve();
//                            })
//                    });
        },
        setStatus: function () {
            //根据状态设置页面样式
            setTimeout(function () {
                // 使用setTimeout将任务放到最后，设置状态时，页面还没渲染完成，导致无法设置状态
                switch (viewModel.model.orderStatus){
                    case  viewModel.ORDER_STATUS_REJECTED: //不能用 ||
                    case viewModel.ORDER_STATUS_NEW:
                        viewModel.set('isEnabled', true);
                        $('#orderNumber').removeClass('k-state-disabled');

                        $('#saveHeader').removeAttr('disabled');
                        $('#submitOrder').removeAttr('disabled');

                        $('#approval').attr("disabled", 'disabled');
                        $('#reject').attr('disabled', 'disabled');
                        $('#deleteAll').removeAttr('disabled');

                        break;
                    case viewModel.ORDER_STATUS_SUBMITED:
                        viewModel.set('isEnabled', false);
                        $('#orderNumber').addClass('k-state-disabled');

                        $('#saveHeader').attr('disabled', 'disabled');
                        $('#submitOrder').attr('disabled', 'disabled');
                        $('#approval').removeAttr('disabled');
                        $('#reject').removeAttr('disabled');
                        $('#deleteAll').attr('disabled', 'disabled');

                        break;

                    case viewModel.ORDER_STATUS_APPROVED:
                        viewModel.set('isEnabled', false);
                        $('#orderNumber').addClass('k-state-disabled');
                        $('#saveHeader').attr('disabled', 'disabled');
                        $('#submitOrder').attr('disabled', 'disabled');
                        $('#approval').attr('disabled', 'disabled');
                        $('#reject').attr('disabled', 'disabled');
                        $('#deleteAll').attr('disabled', 'disabled');

                        break;
                }
            }, 0);
        },
        back: function () {
            parent.closeTab('tab'+viewModel.model.headerId);
        }
    });

    //如果是修改 请求当前Item数据
    var headerId = ${RequestParameters.headerId!0};

    if (headerId !== 0) {
        Hap.request({
            type: 'GET',
            url: '${base.contextPath}/hap/om/order/headers/query',
            data: {"headerId": headerId},
            success: function (results) {
                if (results.success) {
                    viewModel.set('model', results.rows[0]);
                    //设置公司名称
                    for(var k in orderStatusData){
                        if(results.rows[0].orderStatus === orderStatusData[k].value){
                            viewModel.model.set('orderStatusMean', orderStatusData[k].meaning);
                            break;
                        }
                    }
                    viewModel.setStatus();
                }
            }
        });
    } else{
        //新增 设置默认值
        viewModel.model.set('orderStatus', viewModel.ORDER_STATUS_NEW);
        viewModel.model.set('orderDate', new Date());
        viewModel.setStatus();
    }
</script>
<body>
<div id="page-content">
    <div id="form-content">
        <div class="form-group" style="margin:10px 0px 0px 0px;">
            <label class="col-md-1 control-label text-right" for="orderNumber">
                <@spring.message "om.orderNumber"/>
            </label>
            <div class="col-md-2 col-md-width">
                <input id="orderNumber" name="orderNumber" class="k-textbox input-width" required maxlength="60"
                       data-bind="value:model.orderNumber,enabled:isEnabled"/>
            </div>

            <label class="col-md-1 control-label text-right" for="companyId">
                <@spring.message "org.companyName"/>
            </label>
            <div class="col-md-2 col-md-width">
                <div>
                    <input id="companyId" name="companyId" class="input-width" required
                           data-label="<@spring.message 'company.companyName'/>"
                           data-bind="value:model.companyId, text:model.companyName,enabled:isEnabled"/>
                </div>
            </div>
            <label class="col-md-1 control-label text-right" for="customerId">
                <@spring.message "ar.customerName"/>
            </label>
            <div class="col-md-2 col-md-width">
                <div>
                    <input id="customerId" name="customerId" class="input-width" required
                           data-label="<@spring.message 'ar.customerName'/>"
                           data-bind="value:model.customerId, text:model.customerName,enabled:isEnabled"/>
                </div>
            </div>
        </div>
        <div style="clear: both; height: 10px;"></div>
        <div class="form-group" style="margin:10px 0px 0px 0px;">
            <label class="col-md-1 control-label text-right" for="orderDate">
                <@spring.message "om.orderDate"/>
            </label>
            <div class="col-md-2 col-md-width">
                <input id="orderDate" name="orderDate" class="input-width" required
                       data-bind="value:model.orderDate,enabled:isEnabled"/>
                <script>
                    var orderDate = $("#orderDate").kendoDatePicker({
                        enable: false,
                        min: new Date(2019, 0, 1),
                        format: "yyyy-MM-dd",
                        change: function (e) {
                            var dt = e.sender;
                            var value = dt.value();

                            if (value < dt.min()) {
                                dt.value(dt.min());
                            }
                        }
                    }).data('kendoDatePicker');
                </script>
            </div>

            <label class="col-md-1 control-label text-right" for="orderTotalAmount">
                <@spring.message "om.orderTotalAmount"/>
            </label>
            <div class="col-md-2 col-md-width">
                <input id="orderTotalAmount" name="orderTotalAmount"
                       class="k-textbox k-state-disabled input-width"
                       data-bind="value:model.orderTotalAmount"/>
            </div>

            <label class="col-md-1 control-label text-right" for="orderStatus">
                <@spring.message "om.orderStatus"/>
            </label>
            <div class="col-md-1 col-md-width">
                <input id="orderStatus" name="orderStatus" class="input-width k-state-disabled"
                       data-bind="value:model.orderStatus" />
                <script>
                    $("#orderStatus").kendoDropDownList({
                        dataSource: [
                            {text: "新建", code: "NEW"},
                            {text: "已提交", code: "SUBMITED"},
                            {text: "已审批", code: "APPROVED"},
                            {text: "已拒绝", code: "REJECTED"}],
                        dataTextField: "text",
                        dataValueField: "code",
                        valuePrimitive: true
                    });
                </script>
            </div>
        </div>
        <div style="clear: both; height: 10px;"></div>
        <div class="form-group" style="margin:10px 0px 0px 0px;">
            <div style="margin-left: 40px;">
                <div class="col-md-6">

                    <span id="saveHeader" class="btn btn-info pull-left" style="margin-right: 5px;"
                          data-bind="click:saveHeader" type="submit">
                        <i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/>
                        </span>
                    <span id="submitOrder" class="btn btn-info pull-left" style="margin-right: 5px;"
                          data-bind="click:submitOrder">
                            <i class="fa fa-check" style="margin-right:3px;"></i><@spring.message "hap.submit"/>
                        </span>
                    <span id="approval" class="btn btn-warning pull-left" style="margin-right: 5px;"
                          data-bind="click:approval">
                            <i class="fa fa-refresh" style="margin-right:3px;"></i><@spring.message "oauth2clientdetails.approve"/>
                        </span>

                    <span id="reject" class="btn btn-warning pull-left" style="margin-right: 5px;"
                          data-bind="click:reject">
                            <i class="fa fa-close" style="margin-right:3px;"></i><@spring.message "oauth2clientdetails.reject"/>
                        </span>
                    <span id="deleteAll" class="btn btn-danger pull-left" style="margin-right: 5px;"
                          data-bind="click:deleteAll">
                            <i class="fa fa-trash" style="margin-right:3px;"></i><@spring.message "orderLine.deleteAll"/>
                        </span>
                    <span id="print" class="btn btn-success pull-left" style="margin-right: 5px;"
                          data-bind="click:print">
                            <i class="fa fa-print" style="margin-right:3px;"></i><@spring.message "orderLine.documentPrint"/>
                        </span>
                    <span id="back" class="btn btn-default pull-left" data-bind="click:back">
                            <i class="fa fa-backward" style="margin-right:3px;"></i><@spring.message "hap.back"/>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        kendo.bind($('#page-content'), viewModel);

        // 验证器
        var validator = $("#query-form").kendoValidator({
            messages: {
                required: '<@spring.message "hap.validation.notempty"/>'
            },
            invalidMessageType: "tooltip"
        }).data("kendoValidator");
    </script>
    <div style="height: 15px; clear: both;"></div>
    <div id="tabstrip">
        <ul>
            <li class="k-state-active"><@spring.message "order.main" /></li>
            <li><@spring.message "order.other" /></li>
        </ul>

        <div>
            <div id="grid"></div>
        </div>
        <div>
            <div id="other"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tabstrip = $("#tabstrip").kendoTabStrip({
        height: '100%',
        animation: false
    }).data("kendoTabStrip");

    kendo.bind($('#page-content'), viewModel);
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hap/om/order/lines/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hap/om/order/lines/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type === 'read') {
                    return {
                        "headerId": viewModel.model.headerId,
                        page: options.page,
                        pageSize: options.pageSize
                    };
                } else {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "lineId",
                fields: {
                    lineNumber: {
                        validation: {
                            type: 'number' //指定类型，排序时就不会按照字符排序，而是按照数字排序
                        }
                    },
                    inventoryItemCode: {},
                    inventoryItemDescription: {},
                    orderQuantityUom: {},
                    orderdQuantity: {},
                    unitSellingPrice: {
                        validation: {
                            type: 'number'
                        }
                    },
                    totalAmount: {},
                    description: {},
                    addition1: {},
                    addition2: {},
                    addition3: {},
                    addition4: {},
                    addition5: {}
                },
                editable: function () { // editable 对上面的fields的列起作用
                    if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
                        return false;
                    }
                    return true;
                }
            }
        }
    });

    var MAX_LINE_NUMBER = 0;

    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        toolbar:[
            {
                template: '<span class="btn btn-primary" data-bind="click:create" ><i class="fa fa-plus" style="margin-right:3px;"></i><@spring.message "hap.add" /></span>'
            },
            {
                template: '<span class="btn btn-success" data-bind="click:save"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save" /></span>'
            },
            {
                template: '<span onclick="deleteGridRow()" class="btn btn-danger"><i class="fa fa-trash" style="margin-right:3px;"></i><@spring.message "hap.delete" /></span>'
            }
        ],
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "lineId",
                title: '<@spring.message "orderlines.lineid"/>',
                width: 120
            },
                    {
                field: "headerId",
                title: '<@spring.message "orderlines.headerid"/>',
                width: 120
            },
                    {
                field: "lineNumber",
                title: '<@spring.message "orderlines.linenumber"/>',
                width: 120
            },
                    {
                field: "inventoryItemId",
                title: '<@spring.message "orderlines.inventoryitemid"/>',
                width: 120
            },
                    {
                field: "orderdQuantity",
                title: '<@spring.message "orderlines.orderdquantity"/>',
                width: 120
            },
                    {
                field: "orderQuantityUom",
                title: '<@spring.message "orderlines.orderquantityuom"/>',
                width: 120
            },
                    {
                field: "unitSellingPrice",
                title: '<@spring.message "orderlines.unitsellingprice"/>',
                width: 120
            },
                    {
                field: "description",
                title: '<@spring.message "orderlines.description"/>',
                width: 120
            },
                    {
                field: "companyId",
                title: '<@spring.message "orderlines.companyid"/>',
                width: 120
            }
        ],
        editable: true
    });

    // 其它 数据
    $("#other").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: false,
        navigatable: false,
        selectable: 'multiple, rowbox',
        editable: true,
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        toolbar: [
            {
                template: '<span onclick="addRow()" class="btn btn-primary"><i class="fa fa-plus" style="margin-right:3px;"></i><@spring.message "hap.add" /></span>'
            },
            {
                template: '<span onclick="saveChanges()" class="btn btn-success"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save" /></span>'
            },
            {
                template: '<span onclick="deleteOtherRow()" class="btn btn-danger"><i class="fa fa-trash" style="margin-right:3px;"></i><@spring.message "hap.delete" /></span>'
            }
        ],
        columns: [
            {
                field: "lineId",
                hidden: true
            },
            {
                field: "lineNumber",
                title: '<@spring.message "orderlines.linenumber"/>',
                width: 60
            },
            {
                field: "addition1",
                title: '<@spring.message "orderlines.addition1"/>',
                width: 120
            },
            {
                field: "addition2",
                title: '<@spring.message "orderlines.addition2"/>',
                width: 120
            },
            {
                field: "addition3",
                title: '<@spring.message "orderlines.addition3"/>',
                width: 120
            },
            {
                field: "addition4",
                title: '<@spring.message "orderlines.addition4"/>',
                width: 120
            },
            {
                field: "addition5",
                title: '<@spring.message "orderlines.addition5"/>',
                width: 120
            }
        ]
    });

    $("#companyId").kendoLov(${lovProvider.getLov(base.contextPath, base.locale,"LOV_ORG_COMPANY")});
    $("#customerId").kendoLov(${lovProvider.getLov(base.contextPath, base.locale,"LOV_AR_CUSTOMER")});


    //【主要】页删除
    function deleteGridRow() {
        if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
            return false;
        }

        var select = grid.select();
        if(select.length > 0){
            Hap.deleteGridSelection({
                grid: $('#grid')
            });
        }
    }

    //【其它】页删除
    function deleteOtherRow() {
        if(viewModel.model.orderStatus === viewModel.ORDER_STATUS_SUBMITED || viewModel.model.orderStatus === viewModel.ORDER_STATUS_APPROVED){
            return false;
        }

        var select = grid.select();
        if(select.length > 0){
            Hap.deleteGridSelection({
                grid: $('#other')
            });
        }
    }


</script>
</body>
</html>