<#include "../include/header.html">
<body>
<script src="${base.contextPath}/common/code?statusType=HAP_OM_ORDER_STATUS"></script>
<div id="page-content">
    <div id="form-content" style="overflow:auto;margin: 10px 0 20px 40px;">
        <div class="form-group" >
            <label class="col-md-1 text-right control-label" for="companyId"><@spring.message "org.companyName"/></label>
            <div class="col-md-2">
                <input id="companyId" name="companyId" class="input-width" type="text" style="width:170px;margin-right:5px;"
                       data-bind="value:model.companyId, text:model.companyName"/>
            </div>
            <label class="col-md-1 text-right control-label" for="customerId"><@spring.message "ar.customerName"/></label>
            <div class="col-md-2">
                <input id="customerId" name="customerId" class="input-width" style="width:170px;margin-right:5px;"
                       data-bind="value:model.customerId, text:model.customerName"/>
            </div>

            <label class="col-md-1 text-right control-label" for="orderNumber"><@spring.message "om.orderNumber"/></label>
            <div class="col-md-2">
                <input id="orderNumber" name="orderNumber" class="input-width" type="text" style="width:170px;margin-right:5px;"
                       data-bind="value:model.orderNumber"/>
            </div>
        </div>
        <div style="clear: both; height: 10px;"></div>
        <div class="form-group">
            <label class="col-md-1 text-right control-label" for="inventoryItemId"><@spring.message "inv.itemDescription"/></label>
            <div class="col-md-2">
                <input id="inventoryItemId" type="text" name="inventoryItemId" style="width:170px;margin-right:5px;"
                       data-bind="value:model.inventoryItemId"/>
            </div>
            <label class="col-md-1 text-right control-label" for="orderStatus"><@spring.message "om.orderStatus"/></label>
            <div class="col-md-3">
                <input id="orderStatus" type="text" name="orderStatus" style="width:170px;margin-right:5px;"
                       data-role="maskedtextbox" data-bind="value:model.orderStatus"/>
            </div>
        </div>

        <div class="form-group" style="margin: 40px 0 20px 45px;clear: both;">
            <span data-bind="click:query" class="btn btn-info" style="margin-right: 5px;" type="submit"><@spring.message "hap.query"/></span>
            <span data-bind="click:reset" class="btn btn-default" style="margin-right: 5px;" ><@spring.message "hap.reset"/></span>
            <span data-bind="click:exportExcel" class="btn btn-success" style="margin-right: 5px;"><@spring.message "hap.exportExcel"/></span>
        </div>
    </div>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>
<div id="editWin"></div>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
    $("#orderStatus").kendoDropDownList({
        dataSource: [
            {text: "新建", code: "NEW"},
            {text: "已提交", code: "SUBMITED"},
            {text: "已审批", code: "APPROVED"},
            {text: "已拒绝", code: "REJECTED"}],
        dataTextField: "text",
        dataValueField: "code",
        valuePrimitive: true
    });
    kendo.bind($('#page-content'),viewModel);
    Hap.initEnterQuery('#page-content', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hap/om/order/headers/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hap/om/order/headers/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hap/om/order/headers/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hap/om/order/headers/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "headerId",
                fields: {orderDate:{type:'date'}}
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        toolbar: [
            {
                template: '<span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" onclick="newCodeWindow()"><@spring.message "hap.new"/></span>'
            }
        ],
        columns: [
            {
                field: "headerId",
                title: '<@spring.message "om.headerId"/>',
                width: 120,
                hidden:true
            },
            {
                field: "orderNumber",
                title: '<@spring.message "om.orderNumber"/>',
                width: 120,
                template: function (dataItem) {
                    return '<a href="javascript:void(0)" onclick="editFunctionResources(' + dataItem.headerId + ')" class="k-grid-edit">' + dataItem.orderNumber + '</a>';
                }
            },
            {
                field: "companyId",
                title: '<@spring.message "org.companyId"/>',
                width: 120,
                hidden:true
            },
            {
                field: "companyName",
                title: '<@spring.message "org.companyName"/>',
                width: 120
            },
            {
                field: "customerName",
                title: '<@spring.message "ar.customerName"/>',
                width: 120
            },
            {
                field: "orderDate",
                title: '<@spring.message "om.orderDate"/>',
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "orderStatus",
                title: '<@spring.message "om.orderStatus"/>',
                width: 120
            },
            {
                field:"orderTotalAmount",
                title:'<@spring.message "om.orderTotalAmount"/>',
                width: 120
            }
        ],
        editable: false
    });

    $("#companyId").kendoLov(${lovProvider.getLov(base.contextPath, base.locale,"LOV_ORG_COMPANY")});
    $("#customerId").kendoLov(${lovProvider.getLov(base.contextPath, base.locale,"LOV_AR_CUSTOMER")});
    $("#inventoryItemId").kendoLov(${lovProvider.getLov(base.contextPath, base.locale,"LOV_INV_INVENTORY")});
    /*$("#orderNumber").kendoAutoComplete({
        dataTextField: "orderNumber",
        dataSource: dataSource
    });*/
    //编辑
    function editFunctionResources(headerId) {
        var editwin = $("#editWin").kendoWindow({
            actions: [ "Maximize", "Minimize", "Close"],
            width  : 1280,
            height : 600,
            title  : '<@spring.message "hap.edit"/>',
            visible: false,
            iframe : true,
            modal  : true,
            content: '${base.contextPath}/om/order_lines.html?headerId=' + headerId,
            close:function(e){
                $("#grid").data("kendoGrid").dataSource.page(1);
            }
        }).data("kendoWindow");
        editwin.center().open();
    };
    //新建
    function newCodeWindow() {
        var url = 'order_lines.html';

        var editWin =  $("#editWin").kendoWindow({
            actions: [ "Maximize", "Minimize", "Close"],
            width: 1280,
            height: 600,
            title: '<@spring.message "hap.add"/>',
            content: url,
            iframe:  true,
            visible: false,
            modal:true,
            close: function() {
                $('#grid').data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        editWin.center().open();
    };

</script>
</body>