<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.org.mapper.CompanysMapper">
    <resultMap id="BaseResultMap" type="com.hand.org.dto.Companys">
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="COMPANY_NUMBER" property="companyNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByCompany" parameterType="com.hand.org.dto.Companys" resultMap="BaseResultMap">
        SELECT COMPANY_ID,COMPANY_NUMBER,COMPANY_NAME,ENABLED_FLAG FROM hap_org_companys
        <where>
            <if test="companyId!=null">
                COMPANY_ID = #{companyId}
            </if>
            <if test="companyNumber!=null">
                COMPANY_NUMBER Like CONCAT('%',#{companyNumber},'%')
            </if>
            <if test="companyName!=null">
                COMPANY_NAME Like CONCAT('%',#{companyName},'%')
            </if>
            <!--<if test="enabledFlag!=null">
                ENABLED_FLAG = #{enabledFlag}
            </if>-->
        </where>
    </select>

</mapper>